<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- 컨텐츠 페이지 CSS 삽입 -->
<link rel="stylesheet" href="/static/css/mstyle.css">
<link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
<!-- Javascript -->
<script src="/static/js/lib/modal.js" defer></script>
<script src="/static/js/common/common.js" defer></script>
<!-- Quill editor - Main Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- Quill editor - Theme included stylesheets -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">