<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" id="header" th:fragment="commonHeader">
	<script src="/static/js/fragments/header.js"></script>
	<div class="special_bg">
		<div class="container_logo">
			<!-- Logo -->
			<h1 class="header_logo">
				<a class="logo_style1" href="/index"><span class="blind"></span></a>
			</h1>
			<form class="header_search">
				<input name="searchVal"/>
				<button type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
		<!-- Nav -->
		<div class="gnb">
			<ul class="groupNav">
				<li class="groupNav_item"><a href="/index">Home</a></li>
				<li class="groupNav_item"><a href="/doc/listDoc">Board</a></li>
				<li class="groupNav_item"><a href="/video/myVideo">Video</a></li>
			</ul>
			<!-- Login -->
			<div class="user_bar">
				<div class="login_user_info">
					<th:block th:if="${session.loginUser != null}">
							<a href="javascript:openModal('header', '유저 상세보기', 'http://localhost:8080/user/viewUser', 700, 450)"><span class="login_user_name" th:text="|${session.loginUser.name}님|"></span></a>
						    <a class="logout" href="javascript:logout(); ">Sign out</a>
					</th:block>
					<th:block th:unless="${session.loginUser != null}">
						<a class="login" href="/login">Sign in</a>
					</th:block> 
				</div>
			</div>
		</div>
	</div>
</div>
</html>